!!! 5
html(lang="en")
	head
		title Fresher v3
		link(rel="stylesheet", type="text/css", href="style/common.css")
		script
			function login(user, pass) {
				
			}
	body
		h1 Fresher
		h2 Login
		- if (error.id)
			p #{error.msg}
		form(method="post")
			input(name="user"
				type="text"
			)
			input(name="password"
				type="password"
			)
			input(type="submit")
