body 
	font-family sans-serif

input
	clear both

#menu
	width 100%
	text-align right
	a
		padding 5px

.projects
	background-color #A5A7E8
	padding 5px
	margin 5px
	&:hover 
		background-color #CCCDE8
