body, html {
	margin: 10px 0px 0px 5px;
	font-size:11px;
	color: black;
	background-color: #f2f6ff;
}

.childNodes {
	padding-left: 10px;
	display: block;
	float: none;
}

.childNodesHidden {
	display: none;
}

.node {
	cursor: pointer;
	clear: both;
}

.nodeName {
	margin-left: 33px;
	min-height: 15px;
	padding:3px;
	padding-left: 5px;
	cursor: pointer;
}

.nodeNameSelected {
	margin-left: 33px;
	min-height: 15px;
	padding:3px;
	padding-left: 5px;
	cursor: pointer;
	background-color: #7fceff;
	color: white;
}

.nodeNameOver {
	margin-left: 33px;
	min-height: 15px;
	padding:3px;
	padding-left: 5px;
	cursor: pointer;
    background-color: #e4f1fa;
}

.nodeNameEdit {
	margin-left: 33px;
	min-height: 15px;
	padding:3px;
	padding-left: 5px;
	cursor: text;
	background-color: white;
}

.expand {
	font-family: monospace;
	font-size: 18px;
	float:left;
	padding-top: 4px;
	color: #7fceff;
	font-weight: bold;
}

.expand em {
	color: #b2daff;
	font-style: normal;
}

.nodeImage {
	vertical-align:middle;
	float: left;
	padding-top: 4px;
	padding-left: 5px;
}



.contextMenuBody {
	position: absolute;
	width: 140px;
	background-color: white;
}

.contextMenuBody img {
	vertical-align: middle;
	padding: 3px;
}

.contextMenuItem {
	padding: 3px;
	cursor: default;
}

.contextMenuItemOver {
	padding: 3px;
	cursor: default;
	color: white;
	background-color: #7fceff;
}

.dropOff {
	height: 0px;
}

.dropOver {
	min-height: 21px;
}