body {
  font-family: sans-serif;
}
input {
  clear: both;
}
#menu {
  width: 100%;
  text-align: right;
}
#menu a {
  padding: 5px;
}
.projects {
  background-color: #a5a7e8;
  padding: 5px;
  margin: 5px;
}
.projects:hover {
  background-color: #cccde8;
}
