!!! 5
html(lang="en")
	head
		title Fresher Admin
		link(rel="stylesheet", type="text/css", href="/styles/common.css")
	body
		#menu
			a(href="/logout") logout
		each project in projects
			div.projects #{project.name} - 
				a(href="/reset/" + project.id) reset