!!! 5
html(lang="en")
	head
		title Fresher Admin
		link(rel="stylesheet", type="text/css", href="/styles/common.css")
	body
		#menu
			a(href="/") home
			a(href="/logout") logout
		h1 #{project.name}